<po-page-default p-title="PO UI">
  <p>Teste de geração de dígito verificador do código de barras Bradesco</p>
  <br />

  <form [formGroup]="form">
    <!-- <div class="po-row">
    <po-input
      p-label="Banco"
      class="po-sm-2 po-md-2"
      [p-maxlength]="3"
      formControlName="banco"
    >
    </po-input>
    
    <po-input
      p-label="Moeda"
      class="po-sm-2 po-md-2"
      [p-maxlength]="1"
      formControlName="moeda"
    >
    </po-input>
    <po-input
      p-label="Dígito"
      class="po-sm-2 po-md-2"
      formControlName="digitoVerificador"
      [p-disabled]="true"
    >
    </po-input>
  </div> -->
    <!-- <po-datepicker
      p-label="Vencimento"
      class="po-sm-3 po-md-3"
      formControlName="dataVencimento"
    >
    </po-datepicker> -->
    <!-- <po-input
      p-label="Valor"
      class="po-sm-2 po-md-2"
      formControlName="valorFatura"
      [p-maxlength]="10"
    >
    </po-input> -->
    <!-- <po-input
      p-label="Agencia"
      class="po-sm-2 po-md-2"
      formControlName="agencia"
      [p-maxlength]="4"
    >
    </po-input> -->
    <!--<po-input
      p-label="Carteira"
      class="po-sm-2 po-md-2"
      formControlName="carteira"
      [p-maxlength]="2"
    >
    </po-input>
    <po-input
      p-label="Nosso número"
      class="po-sm-3 po-md-3"
      formControlName="nossoNumero"
      [p-maxlength]="11"
    >
    </po-input> -->
    <!-- <po-input
      p-label="Conta"
      class="po-sm-2 po-md-2"
      formControlName="conta"
      [p-maxlength]="7"
    >
    </po-input> -->
    <div class="po-row">
      <po-button p-label="Calcular dígito" (p-click)="onClick()"> </po-button>
    </div>
  </form>
</po-page-default>
